{% extends "layout.html" %}

{% block content %}

<h2 class="page-title">Galeri Kegiatan AULITA</h2>

<!-- GALERI -->
<section id="galeri" class="py-5 bg-light">

    <div class="container">

        <!-- Judul -->
        <div class="text-center mb-5">

            <h2 class="fw-bold">
                <i class="bi bi-images text-success"></i>
                Galeri
            </h2>

            <p class="text-muted mx-auto" style="max-width:700px;">
                Dokumentasi kegiatan organisasi AULITA dalam menjaga kelestarian
                alam, mempererat ukhuwah, serta membentuk karakter kepemimpinan.
            </p>

        </div>

        <div class="row g-4">

            {% for foto in galeri %}

            <div class="col-lg-4 col-md-6">

                <div class="card border-0 shadow-sm rounded-4 h-100">

                    <img src="{{ url_for('static', filename='images/' ~  foto.gambar) }}"
                         class="card-img-top"
                         alt="{{ foto.judul }}"
                         style="height:250px; object-fit:cover;">

                    <div class="card-body text-center">

                        <h5 class="fw-semibold">
                            {{ foto.judul }}
                        </h5>

                    </div>

                </div>

            </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}